/* Variables */
:root {
    --primary: #000000;
    --secondary: #ffffff;
}


* {
    font-family: 'Courier New', Courier, monospace;
}
/* Styles de base */
body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary);
  background-color: var(--secondary);
  margin: auto;
  text-align: center;
  max-width: 1600px;
}

.contenu {
    margin: 2%;
    text-align: center;
}

.headerText{
  background-color: rgba(248, 249, 250, 0.6);
  padding: 10px;
}

#logo {
    width: 20%;
    height: 20%;
}

.logozone{
  padding: 5%;
}

.langue{
  position: absolute;
  top: 0;
  right: 0;
}

p {
  margin-bottom: 10px;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pmr{
  font-size: x-small;
  text-align: center;
  padding-top: 2%;
}

/* Hero */
#hero {
  position: relative;
  height: 500px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--secondary);
  
    h2 {
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 20px;
    }
  
    a {
      background-color: var(--primary);
      color: var(--secondary);
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
  
  /* Votre séjour */
  #votre-villa {
    padding: 50px 0;
  
    h2 {
      text-align: center;
    }
  
    .contenu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  
      .item {
        width: 33.33%;
        margin: 10px;
        text-align: center;
  
        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
  
        h3 {
          margin-top: 20px;
        }
  
        p {
          margin-bottom: 30px;
        }
      }
    }
  }
  
  /* Contact */
  #contact {
    padding: 50px 0;
    background-color: var(--primary);
    color: var(--secondary);
  
    h2 {
      text-align: center;
    }
  
    form {
      width: 50%;
      margin: 0 auto;
  
      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
      }
  
      textarea {
        height: 100px;
      }
  
      button {
        background-color: var(--secondary);
        color: var(--primary);
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }
  }
  
  /* Footer */
  footer {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 20px 0;
  
    p {
      text-align: center;
    }
  
    a {
      margin: 0 10px;
    }
  }
  
  /* Médias Responsives */
  @media (max-width: 768px) {
    #hero .texte {
      width: 80%;
    }
  
    #votre-villa .contenu {
      flex-direction: column;
  
      .item {
        width: 100%;
      }
    }
  
    #contact form {
      width: 100%;
    }
  }
}

.carousel-item{
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center;

    img{
      max-width: 100%;
      max-height: 100%;
    }
}

  